@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Santoshi, Arial, Helvetica, sans-serif;
  @apply w-screen min-h-screen overflow-x-hidden;
}

.icon {
  @apply w-5 h-5;
}

.btn {
  @apply font-normal text-sm rounded-none px-9 py-3;
}

.btn-primary {
  @apply text-white bg-primary hover:text-dark hover:bg-secondary;
}

.btn-secondary {
  @apply text-dark bg-secondary hover:text-white hover:bg-primary;
}

.card {
  @apply w-full md:w-1/3 p-5 overflow-hidden;
}

.card-img {
  @apply overflow-hidden mb-5;
}

.card-img > img {
  @apply w-full  hover:scale-105 hover:opacity-90 hover:cursor-pointer transition-transform;
}
